Done By: **Ryan Yeo**

Class: **DAAA/FT/1B/01**

Admin Num: **P2214452**

In [1]:
import numpy as np
import os

# Reformating datasets

In [2]:
# Create directory if it exists print err
try:
    os.mkdir('datasets_cleaned')
except OSError as error:
    print(error)

[WinError 183] Cannot create a file when that file already exists: 'datasets_cleaned'

### Employment

In [3]:
# Clean employment dataset

# Note:
# We cannot use genfromtxt directly because it reads commas contained in strings(unlike csvreader and pd.read_csv) 
# To avoid that, we first read in all the data seperated by a newline before processing it

dirtyData_17to19 = np.genfromtxt('datasets_src/employment/emp_17to19.csv', dtype="U64",delimiter="\n")
dirtyData_19to21 = np.genfromtxt('datasets_src/employment/emp_19to21.csv', dtype="U64",delimiter="\n")

In [4]:
# Convert and clean the dataset so that it can be written to datasets_cleaned
def cleanData(dirtyArr):
    employ_arr = []
    for i in dirtyArr:
        _ = []
        inQuotes = False
        for j,n in enumerate(i):
            if n=='\"':
                # If opening quotes => True elif closing quotes => False
                inQuotes=not inQuotes
            if n==',' and inQuotes:
                # If it's used in a string, change it to a backtick
                # This is for the sole purpose of not causing any error when reading as csv
                # When printing from this column, backticks will be changed back to commas
                if i[j+1]==' ':
                    _.append('`')
                # If it's used in money, (e.g. $3,600) just remove the comma
                else:
                    _.append('')
            else:
                _.append(n)
        employ_arr.append("".join(_))
    employ_arr = np.array(employ_arr)
    return employ_arr

In [5]:
# We can delete one set of 2019 data since we don't need duplicates from both arr
cleaned_17to19 = cleanData(dirtyData_17to19)[:-((len(cleanData(dirtyData_17to19))-1)//3)]

# We can also delete the header for the second arr
cleaned_19to21 = cleanData(dirtyData_19to21)[1:]

cleaned = np.concatenate((cleaned_17to19,cleaned_19to21))

In [6]:
# Now we can write back the data into datasets_cleaned
try:
    os.mkdir('datasets_cleaned/employment')
except OSError as error:
    print(error)  

cleaned.tofile('datasets_cleaned/employment/employ.csv',sep='\n')

[WinError 183] Cannot create a file when that file already exists: 'datasets_cleaned/employment'

However at this point our data is still not in the right format yet

Due to our need to manipulate and remove commas that were not seperators, 
we had to cast each row as a string datatype

When writing to a csv file, it will cause quotation marks to appear for each row
Since we don't want that to affect main.ipynb, we would have to reopen the file the format it

This time since we changed the commas, it would be less of a hassle

In [7]:
f=np.genfromtxt('datasets_cleaned/employment/employ.csv',dtype='U64',delimiter=',')
# Reformat array
f = np.char.replace(f,'\'','')  
f = np.char.replace(f,'\"','')

# We can also remove the '$' and the '%' in the meantime so that we can easily convert into float later
f = np.char.replace(f,'$','')
f = np.char.replace(f,'%','')


# Delete file so that savetxt does not replace chars
os.remove('datasets_cleaned/employment/employ.csv')
# Write it back to csv in the right format now
np.savetxt('datasets_cleaned/employment/employ.csv',f,delimiter=",",fmt='%s')

### Intake
Now we repeat the entire process again for the different intakes (_This includes Poly and Uni_)

In [8]:
# Prior to this, U64 was used and it accidentally cut off data from Poly Intake
dirtyPoly = np.genfromtxt('datasets_src/poly_intake/polytechnics-intake-enrolment-and-graduates-by-course.csv', dtype="U128",delimiter="\n")
dirtyUni = np.genfromtxt('datasets_src/uni_intake/universities-intake-enrolment-and-graduates-by-course.csv',dtype="U128",delimiter="\n")

In [9]:
# Since there is no salary data, we are just replacing commas with backticks using cleanData
cleanPoly = cleanData(dirtyPoly)
cleanUni = cleanData(dirtyUni)

In [10]:
# Poly
try:
    os.mkdir('datasets_cleaned/poly')
except OSError as error:
    print(error)  

# Generates an error if you already have the file opened elsewhere
cleanPoly.tofile('datasets_cleaned/poly/poly_intake.csv',sep='\n')

# Since now each string is one cell of data and not one row, we can go back to using U64
f=np.genfromtxt('datasets_cleaned/poly/poly_intake.csv',dtype='U64',delimiter=',')
# Reformat array
f = np.char.replace(f,'\'','')  
f = np.char.replace(f,'\"','')

# Delete file so that savetxt does not replace chars
os.remove('datasets_cleaned/poly/poly_intake.csv')
# Write it back to csv in the right format now
np.savetxt('datasets_cleaned/poly/poly_intake.csv',f,delimiter=",",fmt='%s')

[WinError 183] Cannot create a file when that file already exists: 'datasets_cleaned/poly'

In [11]:
# Uni
try:
    os.mkdir('datasets_cleaned/uni')
except OSError as error:
    print(error)  

# Generates an error if you already have the file opened elsewhere
cleanUni.tofile('datasets_cleaned/uni/uni_intake.csv',sep='\n')

f=np.genfromtxt('datasets_cleaned/uni/uni_intake.csv',dtype='U64',delimiter=',')
# Reformat array
f = np.char.replace(f,'\'','')  
f = np.char.replace(f,'\"','')

# Delete file so that savetxt does not replace chars
os.remove('datasets_cleaned/uni/uni_intake.csv')
# Write it back to csv in the right format now
np.savetxt('datasets_cleaned/uni/uni_intake.csv',f,delimiter=",",fmt='%s')

[WinError 183] Cannot create a file when that file already exists: 'datasets_cleaned/uni'

# Cleaning Datasets

### Employment

In [12]:
employEdit = np.genfromtxt('datasets_cleaned/employment/employ.csv',dtype='U64',delimiter=',')

Since our employment datasets are from MOE and our intake datasets are from [data.gov.sg](https://www.data.gov.sg/group/education), it is best to rename the column names from both datasets so that it is easier for comparison later on

|       Initial Col Name   | New Col Name |
|----------------------|------|
| Engineering | Engineering |
| Architecture | Architecture |
| Business | Business |
| Information & Digital Technologies | IT |
| Medicine | Medicine |
| Arts, Design & Medias | Arts |
| Dentistry | Dentistry |
| Built environment | Architecture |
|Yale-NUS| *Removed*|
|Biomedical Sciences| Health Sciences |
| Pharmacy | Health Sciences |
| Education (NIE) | Education |
| Music | Arts |
| Humanities & Social Sciences | Arts |
| Health Sciences | Health Sciences |
| Sciences | Sciences |
| Law | Law |

In [13]:
# Rename course name to match the other datasets
for a in employEdit:
    if a[1]=='Built Environment':
        a[1] = 'Architecture'
    elif a[1]=='Arts` Design & Media' or a[1]=='Music' or a[1]=='Humanities & Social Sciences':
        a[1] = 'Arts'
    elif a[1] == 'Information & Digital Technologies':
        a[1] = 'IT'
    elif a[1]=='Biomedical Sciences' or a[1]=='Pharmacy' or a[1]=='Health Sciences':
        a[1] = 'Health Sciences'
    elif a[1] == 'Education(NIE)':
        a[1] = 'Education'

# Remove row if it contains Yale-NUS
counter=0
for i,a in enumerate(employEdit):
    if a[1]=='Yale-NUS':
        employEdit = np.delete(employEdit,i-counter,0)
        counter+=1

print(employEdit)

[['year' 'course_cluster' 'employed' 'ft_employment'
  'gross median salary']
 ['2017' 'Arts' '91.40' '65.60' '2944']
 ['2017' 'Architecture' '92.70' '86.50' '3200']
 ['2017' 'Business' '95.40' '89.50' '3200']
 ['2017' 'Dentistry' '100' '100.00' '4050']
 ['2017' 'Education' '100' '100.00' '3600']
 ['2017' 'Engineering' '86.70' '79.50' '3500']
 ['2017' 'Health Sciences' '96.70' '93.70' '3450']
 ['2017' 'Arts' '85.70' '70.10' '3300']
 ['2017' 'IT' '94.60' '90.10' '4000']
 ['2017' 'Arts' '73.30' '26.70' '2225']
 ['2017' 'Sciences' '82.60' '65.30' '3250']
 ['2017' 'Architecture' '91.30' '86.40' '4000']
 ['2017' 'Health Sciences' '92.00' '80.00' '2950']
 ['2017' 'Law' '96.40' '92.80' '5000']
 ['2017' 'Medicine' '100.00' '100.00' '5000']
 ['2017' 'Health Sciences' '99.10' '94.50' '3600']
 ['2018' 'Arts' '89.10' '68.30' '3000']
 ['2018' 'Architecture' '91.60' '85.90' '3400']
 ['2018' 'Business' '94.40' '89.10' '3400']
 ['2018' 'Dentistry' '100.00' '100.00' '4050']
 ['2018' 'Education' '100.00' '99.40' '3800']
 ['2018' 'Engineering' '89.90' '83.80' '3600']
 ['2018' 'Health Sciences' '96.70' '89.40' '3450']
 ['2018' 'Arts' '87.30' '72.10' '3400']
 ['2018' 'IT' '95.00' '92.00' '4022']
 ['2018' 'Arts' '81.00' '23.80' '1800']
 ['2018' 'Sciences' '84.40' '68.80' '3313']
 ['2018' 'Architecture' '96.20' '92.40' '4000']
 ['2018' 'Health Sciences' '90.90' '81.80' '3000']
 ['2018' 'Law' '95.30' '91.80' '5000']
 ['2018' 'Medicine' 'NA' 'NA' 'NA']
 ['2018' 'Health Sciences' '96.60' '93.20' '3650']
 ['2019' 'Arts' '87.30' '62.40' '3200']
 ['2019' 'Architecture' '92.60' '87.30' '3500']
 ['2019' 'Business' '94.60' '88.80' '3500']
 ['2019' 'Dentistry' '100' '97.30' '4200']
 ['2019' 'Education' '100' '100.00' '3800']
 ['2019' 'Engineering' '88.40' '83.30' '3750']
 ['2019' 'Health Sciences' '97.10' '88.40' '3500']
 ['2019' 'Arts' '88.00' '74.50' '3500']
 ['2019' 'IT' '95.40' '92.70' '4400']
 ['2019' 'Arts' '82.60' '39.10' '3500']
 ['2019' 'Sciences' '86.90' '71.50' '3500']
 ['2019' 'Architecture' '100.00' '96.00' '4100']
 ['2019' 'Health Sciences' '95.20' '85.70' '3000']
 ['2019' 'Law' '97.00' '95.00' '5000']
 ['2019' 'Medicine' '99.60' '99.60' '5300']
 ['2019' 'Health Sciences' '100' '95.50' '3750']
 ['2020' 'Arts' '92.30' '50.10' '3300']
 ['2020' 'Architecture' '93.90' '72.50' '3500']
 ['2020' 'Business' '95.30' '76.00' '3500']
 ['2020' 'Dentistry' '100.00' '100.00' '4200']
 ['2020' 'Education' '100.00' '99.10' '3800']
 ['2020' 'Engineering' '93.60' '71.60' '3900']
 ['2020' 'Health Sciences' '97.40' '83.30' '3500']
 ['2020' 'Arts' '92.10' '61.80' '3500']
 ['2020' 'IT' '94.80' '87.30' '4760']
 ['2020' 'Arts' '69.20' '15.40' '3275']
 ['2020' 'Sciences' '91.60' '55.40' '3500']
 ['2020' 'Architecture' '94.00' '91.00' '4000']
 ['2020' 'Health Sciences' '94.70' '84.20' '3000']
 ['2020' 'Law' '93.40' '88.60' '5000']
 ['2020' 'Medicine' '100.00' '100.00' '5250']
 ['2020' 'Health Sciences' '99.30' '93.70' '3700']
 ['2021' 'Arts' '92.60' '69.30' '3500']
 ['2021' 'Architecture' '94.50' '88.90' '3600']
 ['2021' 'Business' '97.00' '88.70' '3723']
 ['2021' 'Dentistry' '100.00' '100.00' '4200']
 ['2021' 'Education' '100.00' '100.00' '3798']
 ['2021' 'Engineering' '94.00' '86.90' '3900']
 ['2021' 'Health Sciences' '95.70' '85.90' '3635']
 ['2021' 'Arts' '91.20' '75.60' '3550']
 ['2021' 'IT' '97.80' '93.70' '5000']
 ['2021' 'Arts' '82.40' '35.30' '3100']
 ['2021' 'Sciences' '91.70' '75.80' '3600']
 ['2021' 'Architecture' '97.70' '96.60' '4000']
 ['2021' 'Health Sciences' '90.90' '77.30' '3100']
 ['2021' 'Law' '97.90' '95.50' '5600']
 ['2021' 'Medicine' 'NA' 'NA' 'NA']
 ['2021' 'Health Sciences' '95.90' '91.90' '3915']]

In [14]:
# Write it back to csv in the right format now
np.savetxt('datasets_cleaned/employment/employ.csv',employEdit,delimiter=",",fmt='%s')

Now, we check for missing values

In [15]:
# Read csv file
employArr = np.genfromtxt('datasets_cleaned/employment/employ.csv',dtype='float',delimiter=',',skip_header=1,usecols=(0,2,3,4))
col_header = np.genfromtxt('datasets_cleaned/employment/employ.csv',dtype='U64',delimiter=',',usecols=(0,2,3,4))[0]
employCourse = np.genfromtxt('datasets_cleaned/employment/employ.csv',dtype='U64',delimiter=',',skip_header=1,usecols=(1))
# Since we have to use isnan, setting names=True is not an option since the string cannot be set to float
# As such we make our own artificial columns using dictionary and 'col_header'
employNames = {}
for i,n in enumerate(col_header):
    employNames[n]=i

# Get all missing data
missing = np.argwhere(np.isnan(employArr))
for i in missing:
# Get col name by swapping key and values inside employNames
    print(f"course cluster: {employCourse[i[0]]}, year: {int(employArr[i[0]][0])}, column: {({v:k for k,v in employNames.items()})[i[1]]}")

course cluster: Medicine, year: 2018, column: employed
course cluster: Medicine, year: 2018, column: ft_employment
course cluster: Medicine, year: 2018, column: gross median salary
course cluster: Medicine, year: 2021, column: employed
course cluster: Medicine, year: 2021, column: ft_employment
course cluster: Medicine, year: 2021, column: gross median salary

As seen above, the missing data is for the course cluster "Medicine" and for year 2018 and 2021

Since:
1. The missing data is not randomly distributed (its just for medicine)
2. They are accounted for by other data in our datasets (Medicine data of salary and employment percentages from year 2017, 2019 and 2021 are likely to be similar to 2017,2019 and 2020)

The missing data is Missing At Random

*In the PDF by MOE, it is explained that the missing data is due to insufficient graduates/response rate*

Since the data is MAR, we can either choose to impute or remove the data

In [16]:
# Mean imputation

# Get data for medicine from 2017,2019 and 2021
dataForImpute = np.array([])
for i,j in zip(employArr,employCourse):
    if i[employNames["year"]] in [2017,2019,2020] and j=='Medicine':
        dataForImpute = np.concatenate((dataForImpute,i[1:]))

print(dataForImpute)

ImputeData = np.zeros((3,3))

# Reformat data(by grouping similar cols together) so that np.mean() can be used
for iter in range(3):
    ImputeData[iter] = np.array([n for i,n in enumerate(dataForImpute) if i%3==iter])

# Replace nan values with mean
for i,n in enumerate(ImputeData):
    employArr[missing[0][0]][i+1] = round(n.mean(),2)
    employArr[missing[3][0]][i+1] = round(n.mean(),2)

print(employArr[missing[0][0]])
print(employArr[missing[3][0]])

# If imputation was done correctly, the value of this should be 0
print(len(np.argwhere(np.isnan(employArr))))

[ 100.   100.  5000.    99.6   99.6 5300.   100.   100.  5250. ]
[2018.     99.87   99.87 5183.33]
[2021.     99.87   99.87 5183.33]
0

In [17]:
# Combine everything back together
tmp = np.genfromtxt('datasets_cleaned/employment/employ.csv',dtype='U64',delimiter=',')[0]
employ = np.vstack((tmp, np.column_stack((employArr[:,0],employCourse,employArr[:,1:]))))
print(employ)

[['year' 'course_cluster' 'employed' 'ft_employment'
  'gross median salary']
 ['2017.0' 'Arts' '91.4' '65.6' '2944.0']
 ['2017.0' 'Architecture' '92.7' '86.5' '3200.0']
 ['2017.0' 'Business' '95.4' '89.5' '3200.0']
 ['2017.0' 'Dentistry' '100.0' '100.0' '4050.0']
 ['2017.0' 'Education' '100.0' '100.0' '3600.0']
 ['2017.0' 'Engineering' '86.7' '79.5' '3500.0']
 ['2017.0' 'Health Sciences' '96.7' '93.7' '3450.0']
 ['2017.0' 'Arts' '85.7' '70.1' '3300.0']
 ['2017.0' 'IT' '94.6' '90.1' '4000.0']
 ['2017.0' 'Arts' '73.3' '26.7' '2225.0']
 ['2017.0' 'Sciences' '82.6' '65.3' '3250.0']
 ['2017.0' 'Architecture' '91.3' '86.4' '4000.0']
 ['2017.0' 'Health Sciences' '92.0' '80.0' '2950.0']
 ['2017.0' 'Law' '96.4' '92.8' '5000.0']
 ['2017.0' 'Medicine' '100.0' '100.0' '5000.0']
 ['2017.0' 'Health Sciences' '99.1' '94.5' '3600.0']
 ['2018.0' 'Arts' '89.1' '68.3' '3000.0']
 ['2018.0' 'Architecture' '91.6' '85.9' '3400.0']
 ['2018.0' 'Business' '94.4' '89.1' '3400.0']
 ['2018.0' 'Dentistry' '100.0' '100.0' '4050.0']
 ['2018.0' 'Education' '100.0' '99.4' '3800.0']
 ['2018.0' 'Engineering' '89.9' '83.8' '3600.0']
 ['2018.0' 'Health Sciences' '96.7' '89.4' '3450.0']
 ['2018.0' 'Arts' '87.3' '72.1' '3400.0']
 ['2018.0' 'IT' '95.0' '92.0' '4022.0']
 ['2018.0' 'Arts' '81.0' '23.8' '1800.0']
 ['2018.0' 'Sciences' '84.4' '68.8' '3313.0']
 ['2018.0' 'Architecture' '96.2' '92.4' '4000.0']
 ['2018.0' 'Health Sciences' '90.9' '81.8' '3000.0']
 ['2018.0' 'Law' '95.3' '91.8' '5000.0']
 ['2018.0' 'Medicine' '99.87' '99.87' '5183.33']
 ['2018.0' 'Health Sciences' '96.6' '93.2' '3650.0']
 ['2019.0' 'Arts' '87.3' '62.4' '3200.0']
 ['2019.0' 'Architecture' '92.6' '87.3' '3500.0']
 ['2019.0' 'Business' '94.6' '88.8' '3500.0']
 ['2019.0' 'Dentistry' '100.0' '97.3' '4200.0']
 ['2019.0' 'Education' '100.0' '100.0' '3800.0']
 ['2019.0' 'Engineering' '88.4' '83.3' '3750.0']
 ['2019.0' 'Health Sciences' '97.1' '88.4' '3500.0']
 ['2019.0' 'Arts' '88.0' '74.5' '3500.0']
 ['2019.0' 'IT' '95.4' '92.7' '4400.0']
 ['2019.0' 'Arts' '82.6' '39.1' '3500.0']
 ['2019.0' 'Sciences' '86.9' '71.5' '3500.0']
 ['2019.0' 'Architecture' '100.0' '96.0' '4100.0']
 ['2019.0' 'Health Sciences' '95.2' '85.7' '3000.0']
 ['2019.0' 'Law' '97.0' '95.0' '5000.0']
 ['2019.0' 'Medicine' '99.6' '99.6' '5300.0']
 ['2019.0' 'Health Sciences' '100.0' '95.5' '3750.0']
 ['2020.0' 'Arts' '92.3' '50.1' '3300.0']
 ['2020.0' 'Architecture' '93.9' '72.5' '3500.0']
 ['2020.0' 'Business' '95.3' '76.0' '3500.0']
 ['2020.0' 'Dentistry' '100.0' '100.0' '4200.0']
 ['2020.0' 'Education' '100.0' '99.1' '3800.0']
 ['2020.0' 'Engineering' '93.6' '71.6' '3900.0']
 ['2020.0' 'Health Sciences' '97.4' '83.3' '3500.0']
 ['2020.0' 'Arts' '92.1' '61.8' '3500.0']
 ['2020.0' 'IT' '94.8' '87.3' '4760.0']
 ['2020.0' 'Arts' '69.2' '15.4' '3275.0']
 ['2020.0' 'Sciences' '91.6' '55.4' '3500.0']
 ['2020.0' 'Architecture' '94.0' '91.0' '4000.0']
 ['2020.0' 'Health Sciences' '94.7' '84.2' '3000.0']
 ['2020.0' 'Law' '93.4' '88.6' '5000.0']
 ['2020.0' 'Medicine' '100.0' '100.0' '5250.0']
 ['2020.0' 'Health Sciences' '99.3' '93.7' '3700.0']
 ['2021.0' 'Arts' '92.6' '69.3' '3500.0']
 ['2021.0' 'Architecture' '94.5' '88.9' '3600.0']
 ['2021.0' 'Business' '97.0' '88.7' '3723.0']
 ['2021.0' 'Dentistry' '100.0' '100.0' '4200.0']
 ['2021.0' 'Education' '100.0' '100.0' '3798.0']
 ['2021.0' 'Engineering' '94.0' '86.9' '3900.0']
 ['2021.0' 'Health Sciences' '95.7' '85.9' '3635.0']
 ['2021.0' 'Arts' '91.2' '75.6' '3550.0']
 ['2021.0' 'IT' '97.8' '93.7' '5000.0']
 ['2021.0' 'Arts' '82.4' '35.3' '3100.0']
 ['2021.0' 'Sciences' '91.7' '75.8' '3600.0']
 ['2021.0' 'Architecture' '97.7' '96.6' '4000.0']
 ['2021.0' 'Health Sciences' '90.9' '77.3' '3100.0']
 ['2021.0' 'Law' '97.9' '95.5' '5600.0']
 ['2021.0' 'Medicine' '99.87' '99.87' '5183.33']
 ['2021.0' 'Health Sciences' '95.9' '91.9' '3915.0']]

In [18]:
# Combine intakes,enrollment and graduation data for courses that were group similarly

# Start by getting a unique set of all the courses
unique_courses = np.unique(employCourse)

# Amount of rows we should have at the end (+1 for header)
print(len(unique_courses)*(2022-2017))

# Add the data to the dictionary
for year in range(2017,2022):
    
    # Create a dictionary to store the data
    course_dict = {}
    for course in unique_courses:
        course_dict[course] = []

    for i,a in enumerate(employ):
        if a[1] in course_dict and float(a[0])==year:
            course_dict[a[1]].append(i)

    for k,v in course_dict.items():
        if len(v)>1:
            print(k,v)
            for j,n in enumerate(v):
                # Combine the data into one numpy array
                if j>0:
                    print(employ[n],j)
                    employ[v[0]][2] = str(float(employ[v[0]][2])+float(employ[n][2]))
                    employ[v[0]][3] = str(float(employ[v[0]][3])+float(employ[n][3]))
                    employ[v[0]][4] = str(float(employ[v[0]][4])+float(employ[n][4]))


                    # Remove the duplicates later
                    employ[n] = np.array(['NA','NA','NA','NA','NA'])
            
            # Get average
            employ[v[0]][2] = str(round(float(employ[v[0]][2])/len(v),2))
            employ[v[0]][3] = str(round(float(employ[v[0]][3])/len(v),2))
            employ[v[0]][4] = str(round(float(employ[v[0]][4])/len(v),0))
            
            for n in v:
                print(employ[n])
    year+=1

55
Architecture [2, 12]
['2017.0' 'Architecture' '91.3' '86.4' '4000.0'] 1
['2017.0' 'Architecture' '92.0' '86.45' '3600.0']
['NA' 'NA' 'NA' 'NA' 'NA']
Arts [1, 8, 10]
['2017.0' 'Arts' '85.7' '70.1' '3300.0'] 1
['2017.0' 'Arts' '73.3' '26.7' '2225.0'] 2
['2017.0' 'Arts' '83.47' '54.13' '2823.0']
['NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA']
Health Sciences [7, 13, 16]
['2017.0' 'Health Sciences' '92.0' '80.0' '2950.0'] 1
['2017.0' 'Health Sciences' '99.1' '94.5' '3600.0'] 2
['2017.0' 'Health Sciences' '95.93' '89.4' '3333.0']
['NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA']
Architecture [18, 28]
['2018.0' 'Architecture' '96.2' '92.4' '4000.0'] 1
['2018.0' 'Architecture' '93.9' '89.15' '3700.0']
['NA' 'NA' 'NA' 'NA' 'NA']
Arts [17, 24, 26]
['2018.0' 'Arts' '87.3' '72.1' '3400.0'] 1
['2018.0' 'Arts' '81.0' '23.8' '1800.0'] 2
['2018.0' 'Arts' '85.8' '54.73' '2733.0']
['NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA']
Health Sciences [23, 29, 32]
['2018.0' 'Health Sciences' '90.9' '81.8' '3000.0'] 1
['2018.0' 'Health Sciences' '96.6' '93.2' '3650.0'] 2
['2018.0' 'Health Sciences' '94.73' '88.13' '3367.0']
['NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA']
Architecture [34, 44]
['2019.0' 'Architecture' '100.0' '96.0' '4100.0'] 1
['2019.0' 'Architecture' '96.3' '91.65' '3800.0']
['NA' 'NA' 'NA' 'NA' 'NA']
Arts [33, 40, 42]
['2019.0' 'Arts' '88.0' '74.5' '3500.0'] 1
['2019.0' 'Arts' '82.6' '39.1' '3500.0'] 2
['2019.0' 'Arts' '85.97' '58.67' '3400.0']
['NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA']
Health Sciences [39, 45, 48]
['2019.0' 'Health Sciences' '95.2' '85.7' '3000.0'] 1
['2019.0' 'Health Sciences' '100.0' '95.5' '3750.0'] 2
['2019.0' 'Health Sciences' '97.43' '89.87' '3417.0']
['NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA']
Architecture [50, 60]
['2020.0' 'Architecture' '94.0' '91.0' '4000.0'] 1
['2020.0' 'Architecture' '93.95' '81.75' '3750.0']
['NA' 'NA' 'NA' 'NA' 'NA']
Arts [49, 56, 58]
['2020.0' 'Arts' '92.1' '61.8' '3500.0'] 1
['2020.0' 'Arts' '69.2' '15.4' '3275.0'] 2
['2020.0' 'Arts' '84.53' '42.43' '3358.0']
['NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA']
Health Sciences [55, 61, 64]
['2020.0' 'Health Sciences' '94.7' '84.2' '3000.0'] 1
['2020.0' 'Health Sciences' '99.3' '93.7' '3700.0'] 2
['2020.0' 'Health Sciences' '97.13' '87.07' '3400.0']
['NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA']
Architecture [66, 76]
['2021.0' 'Architecture' '97.7' '96.6' '4000.0'] 1
['2021.0' 'Architecture' '96.1' '92.75' '3800.0']
['NA' 'NA' 'NA' 'NA' 'NA']
Arts [65, 72, 74]
['2021.0' 'Arts' '91.2' '75.6' '3550.0'] 1
['2021.0' 'Arts' '82.4' '35.3' '3100.0'] 2
['2021.0' 'Arts' '88.73' '60.07' '3383.0']
['NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA']
Health Sciences [71, 77, 80]
['2021.0' 'Health Sciences' '90.9' '77.3' '3100.0'] 1
['2021.0' 'Health Sciences' '95.9' '91.9' '3915.0'] 2
['2021.0' 'Health Sciences' '94.17' '85.03' '3550.0']
['NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA']

In [19]:
# Remove all NA
# employ[:,0]!='NA' checks the first col in every row (returns True if not NA)
employ = employ[employ[:,0]!='NA']

In [20]:
# format first and last columns as ints
for i,a in enumerate(employ):
    if i>0:
        employ[i][0] = str(int(float(a[0])))
        employ[i][4] = str(int(float(a[4])))
print(employ)

[['year' 'course_cluster' 'employed' 'ft_employment'
  'gross median salary']
 ['2017' 'Arts' '83.47' '54.13' '2823']
 ['2017' 'Architecture' '92.0' '86.45' '3600']
 ['2017' 'Business' '95.4' '89.5' '3200']
 ['2017' 'Dentistry' '100.0' '100.0' '4050']
 ['2017' 'Education' '100.0' '100.0' '3600']
 ['2017' 'Engineering' '86.7' '79.5' '3500']
 ['2017' 'Health Sciences' '95.93' '89.4' '3333']
 ['2017' 'IT' '94.6' '90.1' '4000']
 ['2017' 'Sciences' '82.6' '65.3' '3250']
 ['2017' 'Law' '96.4' '92.8' '5000']
 ['2017' 'Medicine' '100.0' '100.0' '5000']
 ['2018' 'Arts' '85.8' '54.73' '2733']
 ['2018' 'Architecture' '93.9' '89.15' '3700']
 ['2018' 'Business' '94.4' '89.1' '3400']
 ['2018' 'Dentistry' '100.0' '100.0' '4050']
 ['2018' 'Education' '100.0' '99.4' '3800']
 ['2018' 'Engineering' '89.9' '83.8' '3600']
 ['2018' 'Health Sciences' '94.73' '88.13' '3367']
 ['2018' 'IT' '95.0' '92.0' '4022']
 ['2018' 'Sciences' '84.4' '68.8' '3313']
 ['2018' 'Law' '95.3' '91.8' '5000']
 ['2018' 'Medicine' '99.87' '99.87' '5183']
 ['2019' 'Arts' '85.97' '58.67' '3400']
 ['2019' 'Architecture' '96.3' '91.65' '3800']
 ['2019' 'Business' '94.6' '88.8' '3500']
 ['2019' 'Dentistry' '100.0' '97.3' '4200']
 ['2019' 'Education' '100.0' '100.0' '3800']
 ['2019' 'Engineering' '88.4' '83.3' '3750']
 ['2019' 'Health Sciences' '97.43' '89.87' '3417']
 ['2019' 'IT' '95.4' '92.7' '4400']
 ['2019' 'Sciences' '86.9' '71.5' '3500']
 ['2019' 'Law' '97.0' '95.0' '5000']
 ['2019' 'Medicine' '99.6' '99.6' '5300']
 ['2020' 'Arts' '84.53' '42.43' '3358']
 ['2020' 'Architecture' '93.95' '81.75' '3750']
 ['2020' 'Business' '95.3' '76.0' '3500']
 ['2020' 'Dentistry' '100.0' '100.0' '4200']
 ['2020' 'Education' '100.0' '99.1' '3800']
 ['2020' 'Engineering' '93.6' '71.6' '3900']
 ['2020' 'Health Sciences' '97.13' '87.07' '3400']
 ['2020' 'IT' '94.8' '87.3' '4760']
 ['2020' 'Sciences' '91.6' '55.4' '3500']
 ['2020' 'Law' '93.4' '88.6' '5000']
 ['2020' 'Medicine' '100.0' '100.0' '5250']
 ['2021' 'Arts' '88.73' '60.07' '3383']
 ['2021' 'Architecture' '96.1' '92.75' '3800']
 ['2021' 'Business' '97.0' '88.7' '3723']
 ['2021' 'Dentistry' '100.0' '100.0' '4200']
 ['2021' 'Education' '100.0' '100.0' '3798']
 ['2021' 'Engineering' '94.0' '86.9' '3900']
 ['2021' 'Health Sciences' '94.17' '85.03' '3550']
 ['2021' 'IT' '97.8' '93.7' '5000']
 ['2021' 'Sciences' '91.7' '75.8' '3600']
 ['2021' 'Law' '97.9' '95.5' '5600']
 ['2021' 'Medicine' '99.87' '99.87' '5183']]

In [21]:
# Write back for one last time
np.savetxt('datasets_cleaned/employment/employ.csv',employ,delimiter=",",fmt='%s')

### Intake

Similarly for intake, we edit the column names to fit column names for Employment dataset

#### *Poly*

|       Initial Col Name   | New Col Name |
|----------------------|------|
| Engineering Sciences | Engineering |
| Architecture, Building & Real Estate | Architecture|
| Business & Administration | Business |
| Information Technology | IT |
| Applied Arts | Arts |
| Mass Communication | Arts |
| Services | Arts |
| Humanities & Social Sciences | Arts |
| Health Sciences | Health Sciences |
| Education | Education |
| Natural & Mathematical Sciences | Sciences |
Natural, Physical & Mathematical Sciences | Sciences |
| Law | Law |

In [22]:
polyEdit = np.genfromtxt('datasets_cleaned/poly/poly_intake.csv',dtype='U64',delimiter=',',skip_header=1)
for a in polyEdit:
    if 'Engineering' in a[2]:
        a[2] = 'Engineering'
    elif 'Architecture' in a[2]:
        a[2] = 'Architecture'
    elif 'Business' in a[2]:
        a[2] = 'Business'
    elif 'Information Technology' in a[2]:
        a[2] = 'IT'
    elif a[2] == 'Applied Arts' or a[2] == 'Mass Communication' or a[2]=='Services' or 'Humanities' in a[2]:
        a[2] = 'Arts'
    elif 'Sciences' in a[2] and a[2]!= 'Health Sciences':
        a[2] = 'Sciences'

Inside the dataset, the genders are either:
- Both Male and Female or
- Female Only

To make it easier to compare between different genders, we can take the Both Male and Female row minus the Female Row for the same year and course

From 2018 (inclusive) and before, the data is stored as follows:
- MF, course1
- F, course1
- MF, course2
- F, course2

After 2018, 
- MF, course1
- MF, course2
- F, course1
- F, course2

As such we would need two seperate ways to do this. One for the years for 2018 and prior and another for after 2018

In [23]:
for i,a in enumerate(polyEdit):
    # 2018 and before
    if int(a[0])<=2018:
        if a[1]=='MF':
            a[1]='M'
            a[3] = str(int(a[3])-int(polyEdit[i+1][3]))
            a[4] = str(int(a[4])-int(polyEdit[i+1][4]))
            a[5] = str(int(a[5])-int(polyEdit[i+1][5]))
    # 2019 and 2020
    else:
        if a[1]=='MF':
            a[1]='M'
            # Since there are 12 different courses
            a[3] = str(int(a[3])-int(polyEdit[i+12][3]))
            a[4] = str(int(a[4])-int(polyEdit[i+12][4]))
            a[5] = str(int(a[5])-int(polyEdit[i+12][5]))


# Reformat data for 2019 and 2020 (to make it similar to 2018 and before)
counter = 0
for i in range(len(polyEdit)):
    if int(polyEdit[i][0])==2019:
        if counter<12:
            # We have to use vstack instead of concat or append since we are adding a 1d array to a 2d array (and since axis=0)
            polyEdit = np.vstack((polyEdit[:i+1+counter],polyEdit[i+12+counter],polyEdit[i+1+counter:]))
        # remove duplicates from 2019
        elif counter==24:
            polyEdit = np.delete(polyEdit,np.s_[i:i+12],0)
        counter+=1

counter = 0
for i in range(len(polyEdit)):
    if int(polyEdit[i][0])==2020:
        if counter<12:
            polyEdit = np.vstack((polyEdit[:i+1+counter],polyEdit[i+12+counter],polyEdit[i+1+counter:]))
        else:
            print(polyEdit[i],counter)
        counter+=1

# since the last 12 rows are duplicates, we remove them
polyEdit = np.delete(polyEdit,np.s_[-12:],0)

['2020' 'M' 'Arts' '70' '211' '89'] 12
['2020' 'F' 'Arts' '228' '698' '259'] 13
['2020' 'M' 'IT' '1883' '5824' '1808'] 14
['2020' 'F' 'IT' '637' '2173' '802'] 15
['2020' 'M' 'Law' '48' '118' '31'] 16
['2020' 'F' 'Law' '60' '210' '62'] 17
['2020' 'M' 'Arts' '134' '458' '159'] 18
['2020' 'F' 'Arts' '415' '1334' '461'] 19
['2020' 'M' 'Sciences' '440' '1090' '471'] 20
['2020' 'F' 'Sciences' '669' '1947' '730'] 21
['2020' 'M' 'Arts' '416' '1706' '526'] 22
['2020' 'F' 'Arts' '375' '1222' '482'] 23

In [24]:
for a in polyEdit:
    print(a)

['2005' 'M' 'Arts' '441' '1055' '248']
['2005' 'F' 'Arts' '687' '1538' '302']
['2005' 'M' 'Architecture' '203' '596' '176']
['2005' 'F' 'Architecture' '312' '870' '249']
['2005' 'M' 'Business' '1094' '3105' '774']
['2005' 'F' 'Business' '2389' '7038' '2270']
['2005' 'M' 'Education' '9' '15' '0']
['2005' 'F' 'Education' '180' '469' '111']
['2005' 'M' 'Engineering' '5729' '16523' '4531']
['2005' 'F' 'Engineering' '2097' '5939' '2005']
['2005' 'M' 'Health Sciences' '313' '991' '139']
['2005' 'F' 'Health Sciences' '1326' '3971' '877']
['2005' 'M' 'Arts' '10' '10' '0']
['2005' 'F' 'Arts' '71' '73' '0']
['2005' 'M' 'IT' '2235' '6542' '1892']
['2005' 'F' 'IT' '1887' '5065' '1464']
['2005' 'M' 'Law' '43' '120' '31']
['2005' 'F' 'Law' '83' '221' '71']
['2005' 'M' 'Arts' '124' '397' '137']
['2005' 'F' 'Arts' '324' '1029' '282']
['2005' 'M' 'Sciences' '497' '1166' '321']
['2005' 'F' 'Sciences' '712' '1678' '447']
['2005' 'M' 'Arts' '72' '296' '153']
['2005' 'F' 'Arts' '68' '173' '35']
['2006' 'M' 'Arts' '558' '1361' '223']
['2006' 'F' 'Arts' '742' '1894' '319']
['2006' 'M' 'Architecture' '254' '667' '161']
['2006' 'F' 'Architecture' '342' '955' '233']
['2006' 'M' 'Business' '1457' '3644' '838']
['2006' 'F' 'Business' '2487' '7225' '2208']
['2006' 'M' 'Education' '57' '69' '3']
['2006' 'F' 'Education' '209' '545' '128']
['2006' 'M' 'Engineering' '6101' '17516' '4629']
['2006' 'F' 'Engineering' '2108' '6197' '1786']
['2006' 'M' 'Health Sciences' '401' '1179' '248']
['2006' 'F' 'Health Sciences' '1554' '4428' '1080']
['2006' 'M' 'Arts' '9' '17' '0']
['2006' 'F' 'Arts' '66' '136' '0']
['2006' 'M' 'IT' '2244' '6619' '1874']
['2006' 'F' 'IT' '1728' '5134' '1477']
['2006' 'M' 'Law' '46' '132' '25']
['2006' 'F' 'Law' '70' '221' '63']
['2006' 'M' 'Arts' '140' '409' '120']
['2006' 'F' 'Arts' '310' '1019' '296']
['2006' 'M' 'Sciences' '500' '1286' '301']
['2006' 'F' 'Sciences' '684' '1777' '460']
['2006' 'M' 'Arts' '115' '321' '116']
['2006' 'F' 'Arts' '94' '211' '50']
['2007' 'M' 'Arts' '590' '1580' '298']
['2007' 'F' 'Arts' '865' '2221' '409']
['2007' 'M' 'Architecture' '261' '732' '176']
['2007' 'F' 'Architecture' '363' '1010' '273']
['2007' 'M' 'Business' '1649' '4259' '996']
['2007' 'F' 'Business' '2909' '7839' '2247']
['2007' 'M' 'Education' '71' '142' '3']
['2007' 'F' 'Education' '238' '623' '156']
['2007' 'M' 'Engineering' '5918' '18255' '4622']
['2007' 'F' 'Engineering' '2054' '6461' '1685']
['2007' 'M' 'Health Sciences' '457' '1263' '355']
['2007' 'F' 'Health Sciences' '1653' '4602' '1400']
['2007' 'M' 'Arts' '23' '40' '0']
['2007' 'F' 'Arts' '88' '222' '0']
['2007' 'M' 'IT' '2318' '6889' '1840']
['2007' 'F' 'IT' '1651' '5199' '1410']
['2007' 'M' 'Law' '36' '125' '38']
['2007' 'F' 'Law' '81' '226' '65']
['2007' 'M' 'Arts' '176' '439' '135']
['2007' 'F' 'Arts' '354' '989' '377']
['2007' 'M' 'Sciences' '521' '1452' '311']
['2007' 'F' 'Sciences' '846' '2095' '453']
['2007' 'M' 'Arts' '154' '380' '113']
['2007' 'F' 'Arts' '86' '247' '51']
['2008' 'M' 'Arts' '728' '1821' '381']
['2008' 'F' 'Arts' '918' '2355' '582']
['2008' 'M' 'Architecture' '296' '792' '173']
['2008' 'F' 'Architecture' '327' '982' '292']
['2008' 'M' 'Business' '2303' '5591' '1061']
['2008' 'F' 'Business' '3524' '9221' '2315']
['2008' 'M' 'Education' '6' '18' '9']
['2008' 'F' 'Education' '188' '529' '175']
['2008' 'M' 'Engineering' '5643' '18117' '5161']
['2008' 'F' 'Engineering' '1809' '6039' '1996']
['2008' 'M' 'Health Sciences' '575' '1421' '348']
['2008' 'F' 'Health Sciences' '1788' '5002' '1327']
['2008' 'M' 'Arts' '173' '350' '8']
['2008' 'F' 'Arts' '306' '603' '67']
['2008' 'M' 'IT' '2236' '6930' '2014']
['2008' 'F' 'IT' '1707' '5057' '1716']
['2008' 'M' 'Law' '62' '130' '43']
['2008' 'F' 'Law' '66' '204' '78']
['2008' 'M' 'Arts' '164' '503' '117']
['2008' 'F' 'Arts' '378' '1036' '318']
['2008' 'M' 'Sciences' '521' '1504' '410']
['2008' 'F' 'Sciences' '833' '2207' '568']
['2008' 'M' 'Arts' '178' '431' '96']
['2008' 'F' 'Arts' '109' '294' '62']
['2009' 'M' 'Arts' '748' '2052' '428']
['2009' 'F' 'Arts' '942' '2629' '576']
['2009' 'M' 'Architecture' '254' '788' '233']
['2009' 'F' 'Architecture' '291' '936' '307']
['2009' 'M' 'Business' '2191' '6077' '1409']
['2009' 'F' 'Business' '3524' '9947' '2533']
['2009' 'M' 'Education' '16' '29' '4']
['2009' 'F' 'Education' '190' '540' '173']
['2009' 'M' 'Engineering' '5884' '18326' '5427']
['2009' 'F' 'Engineering' '1891' '5922' '1972']
['2009' 'M' 'Health Sciences' '586' '1605' '363']
['2009' 'F' 'Health Sciences' '1953' '5477' '1396']
['2009' 'M' 'Arts' '214' '491' '57']
['2009' 'F' 'Arts' '321' '803' '96']
['2009' 'M' 'IT' '2237' '6905' '1967']
['2009' 'F' 'IT' '1789' '5192' '1505']
['2009' 'M' 'Law' '47' '132' '41']
['2009' 'F' 'Law' '82' '222' '55']
['2009' 'M' 'Arts' '214' '557' '132']
['2009' 'F' 'Arts' '471' '1186' '303']
['2009' 'M' 'Sciences' '586' '1561' '452']
['2009' 'F' 'Sciences' '917' '2416' '592']
['2009' 'M' 'Arts' '149' '443' '121']
['2009' 'F' 'Arts' '127' '330' '82']
['2010' 'M' 'Arts' '865' '2297' '490']
['2010' 'F' 'Arts' '1074' '2872' '703']
['2010' 'M' 'Architecture' '273' '811' '221']
['2010' 'F' 'Architecture' '330' '923' '318']
['2010' 'M' 'Business' '2140' '6512' '1582']
['2010' 'F' 'Business' '3567' '10455' '2934']
['2010' 'M' 'Education' '13' '35' '7']
['2010' 'F' 'Education' '258' '625' '167']
['2010' 'M' 'Engineering' '5803' '18216' '5402']
['2010' 'F' 'Engineering' '1752' '5666' '1893']
['2010' 'M' 'Health Sciences' '633' '1809' '377']
['2010' 'F' 'Health Sciences' '2022' '5779' '1591']
['2010' 'M' 'Arts' '291' '680' '92']
['2010' 'F' 'Arts' '392' '993' '183']
['2010' 'M' 'IT' '2101' '6768' '2107']
['2010' 'F' 'IT' '1586' '5117' '1586']
['2010' 'M' 'Law' '58' '152' '34']
['2010' 'F' 'Law' '85' '225' '74']
['2010' 'M' 'Arts' '179' '593' '123']
['2010' 'F' 'Arts' '485' '1347' '254']
['2010' 'M' 'Sciences' '541' '1660' '407']
['2010' 'F' 'Sciences' '993' '2686' '663']
['2010' 'M' 'Arts' '148' '428' '141']
['2010' 'F' 'Arts' '118' '340' '96']
['2011' 'M' 'Arts' '860' '2503' '573']
['2011' 'F' 'Arts' '1130' '3104' '770']
['2011' 'M' 'Architecture' '316' '817' '268']
['2011' 'F' 'Architecture' '459' '1063' '297']
['2011' 'M' 'Business' '2279' '6644' '2035']
['2011' 'F' 'Business' '3510' '10571' '3271']
['2011' 'M' 'Education' '21' '49' '5']
['2011' 'F' 'Education' '255' '687' '178']
['2011' 'M' 'Engineering' '6109' '18323' '5372']
['2011' 'F' 'Engineering' '1837' '5550' '1814']
['2011' 'M' 'Health Sciences' '631' '1868' '497']
['2011' 'F' 'Health Sciences' '1906' '5879' '1661']
['2011' 'M' 'Arts' '348' '843' '151']
['2011' 'F' 'Arts' '422' '1109' '278']
['2011' 'M' 'IT' '2316' '6750' '2125']
['2011' 'F' 'IT' '1626' '4939' '1607']
['2011' 'M' 'Law' '64' '169' '42']
['2011' 'F' 'Law' '77' '235' '53']
['2011' 'M' 'Arts' '169' '523' '163']
['2011' 'F' 'Arts' '418' '1283' '348']
['2011' 'M' 'Sciences' '603' '1774' '446']
['2011' 'F' 'Sciences' '984' '2846' '732']
['2011' 'M' 'Arts' '220' '502' '135']
['2011' 'F' 'Arts' '177' '412' '97']
['2012' 'M' 'Arts' '860' '2637' '704']
['2012' 'F' 'Arts' '1164' '3346' '855']
['2012' 'M' 'Architecture' '356' '903' '241']
['2012' 'F' 'Architecture' '423' '1185' '271']
['2012' 'M' 'Business' '2294' '6743' '2061']
['2012' 'F' 'Business' '3772' '10706' '3361']
['2012' 'M' 'Education' '19' '53' '16']
['2012' 'F' 'Education' '275' '768' '180']
['2012' 'M' 'Engineering' '5988' '18236' '5476']
['2012' 'F' 'Engineering' '1753' '5301' '1815']
['2012' 'M' 'Health Sciences' '568' '1823' '555']
['2012' 'F' 'Health Sciences' '1675' '5515' '1923']
['2012' 'M' 'Arts' '340' '966' '188']
['2012' 'F' 'Arts' '461' '1248' '289']
['2012' 'M' 'IT' '2417' '6880' '2062']
['2012' 'F' 'IT' '1559' '4797' '1580']
['2012' 'M' 'Law' '60' '182' '39']
['2012' 'F' 'Law' '79' '232' '75']
['2012' 'M' 'Arts' '169' '513' '201']
['2012' 'F' 'Arts' '459' '1182' '452']
['2012' 'M' 'Sciences' '589' '1764' '546']
['2012' 'F' 'Sciences' '1050' '2971' '845']
['2012' 'M' 'Arts' '217' '553' '146']
['2012' 'F' 'Arts' '207' '499' '118']
['2013' 'M' 'Arts' '883' '2546' '783']
['2013' 'F' 'Arts' '1214' '3389' '963']
['2013' 'M' 'Architecture' '349' '986' '277']
['2013' 'F' 'Architecture' '447' '1310' '353']
['2013' 'M' 'Business' '2406' '7030' '2035']
['2013' 'F' 'Business' '3861' '11087' '3365']
['2013' 'M' 'Education' '35' '75' '12']
['2013' 'F' 'Education' '288' '805' '250']
['2013' 'M' 'Engineering' '5964' '18269' '5398']
['2013' 'F' 'Engineering' '1691' '5205' '1618']
['2013' 'M' 'Health Sciences' '568' '1749' '601']
['2013' 'F' 'Health Sciences' '1842' '5413' '1853']
['2013' 'M' 'Arts' '331' '1012' '258']
['2013' 'F' 'Arts' '425' '1278' '369']
['2013' 'M' 'IT' '2325' '7102' '2014']
['2013' 'F' 'IT' '1431' '4520' '1509']
['2013' 'M' 'Law' '64' '187' '54']
['2013' 'F' 'Law' '76' '218' '78']
['2013' 'M' 'Arts' '188' '522' '175']
['2013' 'F' 'Arts' '473' '1328' '463']
['2013' 'M' 'Sciences' '610' '1785' '547']
['2013' 'F' 'Sciences' '992' '2980' '922']
['2013' 'M' 'Arts' '214' '588' '143']
['2013' 'F' 'Arts' '202' '586' '117']
['2014' 'M' 'Arts' '940' '2685' '725']
['2014' 'F' 'Arts' '1183' '3448' '995']
['2014' 'M' 'Architecture' '326' '1010' '272']
['2014' 'F' 'Architecture' '471' '1329' '435']
['2014' 'M' 'Business' '2218' '6984' '2202']
['2014' 'F' 'Business' '3799' '11355' '3394']
['2014' 'M' 'Education' '16' '66' '21']
['2014' 'F' 'Education' '317' '872' '239']
['2014' 'M' 'Engineering' '5472' '17185' '5371']
['2014' 'F' 'Engineering' '1558' '4734' '1612']
['2014' 'M' 'Health Sciences' '617' '1748' '575']
['2014' 'F' 'Health Sciences' '1659' '5154' '1838']
['2014' 'M' 'Arts' '348' '1027' '315']
['2014' 'F' 'Arts' '430' '1299' '388']
['2014' 'M' 'IT' '2067' '6942' '2094']
['2014' 'F' 'IT' '1230' '4204' '1483']
['2014' 'M' 'Law' '55' '183' '56']
['2014' 'F' 'Law' '79' '224' '66']
['2014' 'M' 'Arts' '163' '519' '162']
['2014' 'F' 'Arts' '491' '1413' '393']
['2014' 'M' 'Sciences' '607' '1804' '555']
['2014' 'F' 'Sciences' '1022' '3010' '931']
['2014' 'M' 'Arts' '411' '1225' '361']
['2014' 'F' 'Arts' '298' '894' '238']
['2015' 'M' 'Arts' '718' '2287' '731']
['2015' 'F' 'Arts' '1021' '3186' '977']
['2015' 'M' 'Architecture' '280' '934' '319']
['2015' 'F' 'Architecture' '390' '1283' '396']
['2015' 'M' 'Business' '1809' '6231' '2071']
['2015' 'F' 'Business' '3062' '10062' '3384']
['2015' 'M' 'Education' '21' '66' '18']
['2015' 'F' 'Education' '319' '911' '274']
['2015' 'M' 'Engineering' '5612' '17117' '5308']
['2015' 'F' 'Engineering' '1705' '5064' '1659']
['2015' 'M' 'Health Sciences' '694' '2166' '604']
['2015' 'F' 'Health Sciences' '1996' '5794' '1693']
['2015' 'M' 'Arts' '82' '274' '86']
['2015' 'F' 'Arts' '248' '773' '257']
['2015' 'M' 'IT' '1963' '6394' '2115']
['2015' 'F' 'IT' '1074' '3629' '1298']
['2015' 'M' 'Law' '43' '168' '55']
['2015' 'F' 'Law' '73' '222' '71']
['2015' 'M' 'Arts' '153' '537' '174']
['2015' 'F' 'Arts' '456' '1496' '470']
['2015' 'M' 'Sciences' '551' '1747' '558']
['2015' 'F' 'Sciences' '864' '2817' '919']
['2015' 'M' 'Arts' '550' '1959' '611']
['2015' 'F' 'Arts' '567' '1748' '583']
['2016' 'M' 'Arts' '710' '2172' '759']
['2016' 'F' 'Arts' '1011' '3064' '1024']
['2016' 'M' 'Architecture' '252' '832' '323']
['2016' 'F' 'Architecture' '371' '1207' '420']
['2016' 'M' 'Business' '1800' '5797' '2178']
['2016' 'F' 'Business' '2846' '9406' '3417']
['2016' 'M' 'Education' '38' '71' '30']
['2016' 'F' 'Education' '548' '1181' '277']
['2016' 'M' 'Engineering' '5416' '16613' '5338']
['2016' 'F' 'Engineering' '1395' '4721' '1601']
['2016' 'M' 'Health Sciences' '643' '2102' '661']
['2016' 'F' 'Health Sciences' '1894' '5704' '1895']
['2016' 'M' 'Arts' '86' '262' '92']
['2016' 'F' 'Arts' '256' '758' '261']
['2016' 'M' 'IT' '1863' '6023' '2030']
['2016' 'F' 'IT' '906' '3175' '1275']
['2016' 'M' 'Law' '35' '139' '58']
['2016' 'F' 'Law' '66' '218' '68']
['2016' 'M' 'Arts' '161' '484' '203']
['2016' 'F' 'Arts' '457' '1436' '498']
['2016' 'M' 'Sciences' '507' '1668' '553']
['2016' 'F' 'Sciences' '789' '2634' '904']
['2016' 'M' 'Arts' '592' '1858' '668']
['2016' 'F' 'Arts' '479' '1624' '571']
['2017' 'M' 'Arts' '738' '2163' '682']
['2017' 'F' 'Arts' '1147' '3128' '1000']
['2017' 'M' 'Architecture' '324' '850' '295']
['2017' 'F' 'Architecture' '390' '1129' '441']
['2017' 'M' 'Business' '1903' '5617' '2032']
['2017' 'F' 'Business' '2931' '8836' '3384']
['2017' 'M' 'Education' '59' '115' '13']
['2017' 'F' 'Education' '650' '1503' '307']
['2017' 'M' 'Engineering' '5457' '16501' '5043']
['2017' 'F' 'Engineering' '1481' '4518' '1572']
['2017' 'M' 'Health Sciences' '634' '1991' '696']
['2017' 'F' 'Health Sciences' '1933' '5807' '1771']
['2017' 'M' 'Arts' '93' '256' '90']
['2017' 'F' 'Arts' '298' '792' '257']
['2017' 'M' 'IT' '2020' '5877' '1990']
['2017' 'F' 'IT' '889' '2889' '1099']
['2017' 'M' 'Law' '33' '122' '48']
['2017' 'F' 'Law' '64' '208' '72']
['2017' 'M' 'Arts' '167' '474' '174']
['2017' 'F' 'Arts' '475' '1368' '523']
['2017' 'M' 'Sciences' '526' '1582' '574']
['2017' 'F' 'Sciences' '778' '2400' '955']
['2017' 'M' 'Arts' '574' '1751' '645']
['2017' 'F' 'Arts' '500' '1559' '547']
['2018' 'M' 'Arts' '783' '2209' '669']
['2018' 'F' 'Arts' '1111' '3215' '941']
['2018' 'M' 'Architecture' '342' '903' '244']
['2018' 'F' 'Architecture' '382' '1104' '370']
['2018' 'M' 'Business' '1831' '5618' '1778']
['2018' 'F' 'Business' '2811' '8546' '3006']
['2018' 'M' 'Education' '57' '146' '20']
['2018' 'F' 'Education' '660' '1843' '312']
['2018' 'M' 'Engineering' '5395' '16317' '4997']
['2018' 'F' 'Engineering' '1473' '4328' '1543']
['2018' 'M' 'Health Sciences' '665' '1947' '670']
['2018' 'F' 'Health Sciences' '2093' '5909' '1895']
['2018' 'M' 'Arts' '84' '262' '77']
['2018' 'F' 'Arts' '268' '809' '233']
['2018' 'M' 'IT' '2003' '5930' '1751']
['2018' 'F' 'IT' '817' '2608' '996']
['2018' 'M' 'Law' '34' '104' '48']
['2018' 'F' 'Law' '70' '197' '76']
['2018' 'M' 'Arts' '175' '497' '145']
['2018' 'F' 'Arts' '500' '1420' '437']
['2018' 'M' 'Sciences' '459' '1486' '528']
['2018' 'F' 'Sciences' '773' '2308' '825']
['2018' 'M' 'Arts' '647' '1843' '512']
['2018' 'F' 'Arts' '436' '1436' '541']
['2019' 'M' 'Arts' '692' '2199' '646']
['2019' 'F' 'Arts' '1084' '3290' '934']
['2019' 'M' 'Architecture' '308' '939' '242']
['2019' 'F' 'Architecture' '326' '1052' '337']
['2019' 'M' 'Business' '1629' '5432' '1756']
['2019' 'F' 'Business' '2659' '8359' '2733']
['2019' 'M' 'Education' '57' '165' '33']
['2019' 'F' 'Education' '660' '1951' '522']
['2019' 'M' 'Engineering' '4953' '15852' '4790']
['2019' 'F' 'Engineering' '1409' '4316' '1271']
['2019' 'M' 'Health Sciences' '691' '1988' '596']
['2019' 'F' 'Health Sciences' '1901' '5904' '1834']
['2019' 'M' 'Arts' '66' '242' '83']
['2019' 'F' 'Arts' '258' '816' '242']
['2019' 'M' 'IT' '1921' '5927' '1705']
['2019' 'F' 'IT' '730' '2412' '843']
['2019' 'M' 'Law' '36' '104' '35']
['2019' 'F' 'Law' '69' '200' '61']
['2019' 'M' 'Arts' '153' '490' '154']
['2019' 'F' 'Arts' '437' '1396' '447']
['2019' 'M' 'Sciences' '445' '1423' '475']
['2019' 'F' 'Sciences' '691' '2200' '743']
['2019' 'M' 'Arts' '521' '1764' '581']
['2019' 'F' 'Arts' '375' '1312' '469']
['2020' 'M' 'Arts' '662' '2113' '670']
['2020' 'F' 'Arts' '1049' '3199' '1059']
['2020' 'M' 'Architecture' '295' '904' '283']
['2020' 'F' 'Architecture' '329' '988' '350']
['2020' 'M' 'Business' '1635' '5149' '1818']
['2020' 'F' 'Business' '2521' '7975' '2785']
['2020' 'M' 'Education' '50' '163' '52']
['2020' 'F' 'Education' '663' '2001' '661']
['2020' 'M' 'Engineering' '4695' '15311' '4964']
['2020' 'F' 'Engineering' '1224' '4220' '1363']
['2020' 'M' 'Health Sciences' '674' '2031' '586']
['2020' 'F' 'Health Sciences' '1842' '5888' '1789']
['2020' 'M' 'Arts' '70' '211' '89']
['2020' 'F' 'Arts' '228' '698' '259']
['2020' 'M' 'IT' '1883' '5824' '1808']
['2020' 'F' 'IT' '637' '2173' '802']
['2020' 'M' 'Law' '48' '118' '31']
['2020' 'F' 'Law' '60' '210' '62']
['2020' 'M' 'Arts' '134' '458' '159']
['2020' 'F' 'Arts' '415' '1334' '461']
['2020' 'M' 'Sciences' '440' '1090' '471']
['2020' 'F' 'Sciences' '669' '1947' '730']
['2020' 'M' 'Arts' '416' '1706' '526']
['2020' 'F' 'Arts' '375' '1222' '482']

In [25]:
# Number of rows (+1 for header) we should get
# The reason for -2 is because poly has no 'Medicine' and 'Dentistry'
print((len(unique_courses)-2)*2*(2021-2005))

288

In [26]:
# Add the data to the dictionary
for year in range(2005,2021):
    
    # Create a dictionary to store the data
    course_dict = {}
    for course in unique_courses:
        course_dict[course] = []

    for i,a in enumerate(polyEdit):
        if a[2] in course_dict and float(a[0])==year:
            if a[1]=='M':
                course_dict[a[2]].append(i)


    for k,v in course_dict.items():
        if len(v)>1:
            print(k,v)
            for j,n in enumerate(v):
                # Combine the data into one numpy array
                if j>0:
                    print(polyEdit[n],j)

                    # For males
                    polyEdit[v[0]][3] = str(int(polyEdit[v[0]][3])+int(polyEdit[n][3]))
                    polyEdit[v[0]][4] = str(int(polyEdit[v[0]][4])+int(polyEdit[n][4]))
                    polyEdit[v[0]][5] = str(int(polyEdit[v[0]][5])+int(polyEdit[n][5]))

                    # Repeat for Females
                    polyEdit[v[0]+1][3] = str(int(polyEdit[v[0]+1][3])+int(polyEdit[n+1][3]))
                    polyEdit[v[0]+1][4] = str(int(polyEdit[v[0]+1][4])+int(polyEdit[n+1][4]))
                    polyEdit[v[0]+1][5] = str(int(polyEdit[v[0]+1][5])+int(polyEdit[n+1][5]))


                    # Remove the duplicates later
                    polyEdit[n] = np.array(['NA','NA','NA','NA','NA','NA'])
                    polyEdit[n+1] = np.array(['NA','NA','NA','NA','NA','NA'])
            
            # No need to get average since these are enrollment, intake and grad numbers (not percentages like before)

            
            for n in v:
                print(polyEdit[n])
                print(polyEdit[n+1])
    year+=1

Arts [0, 12, 18, 22]
['2005' 'M' 'Arts' '10' '10' '0'] 1
['2005' 'M' 'Arts' '124' '397' '137'] 2
['2005' 'M' 'Arts' '72' '296' '153'] 3
['2005' 'M' 'Arts' '647' '1758' '538']
['2005' 'F' 'Arts' '1150' '2813' '619']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [24, 36, 42, 46]
['2006' 'M' 'Arts' '9' '17' '0'] 1
['2006' 'M' 'Arts' '140' '409' '120'] 2
['2006' 'M' 'Arts' '115' '321' '116'] 3
['2006' 'M' 'Arts' '822' '2108' '459']
['2006' 'F' 'Arts' '1212' '3260' '665']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [48, 60, 66, 70]
['2007' 'M' 'Arts' '23' '40' '0'] 1
['2007' 'M' 'Arts' '176' '439' '135'] 2
['2007' 'M' 'Arts' '154' '380' '113'] 3
['2007' 'M' 'Arts' '943' '2439' '546']
['2007' 'F' 'Arts' '1393' '3679' '837']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [72, 84, 90, 94]
['2008' 'M' 'Arts' '173' '350' '8'] 1
['2008' 'M' 'Arts' '164' '503' '117'] 2
['2008' 'M' 'Arts' '178' '431' '96'] 3
['2008' 'M' 'Arts' '1243' '3105' '602']
['2008' 'F' 'Arts' '1711' '4288' '1029']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [96, 108, 114, 118]
['2009' 'M' 'Arts' '214' '491' '57'] 1
['2009' 'M' 'Arts' '214' '557' '132'] 2
['2009' 'M' 'Arts' '149' '443' '121'] 3
['2009' 'M' 'Arts' '1325' '3543' '738']
['2009' 'F' 'Arts' '1861' '4948' '1057']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [120, 132, 138, 142]
['2010' 'M' 'Arts' '291' '680' '92'] 1
['2010' 'M' 'Arts' '179' '593' '123'] 2
['2010' 'M' 'Arts' '148' '428' '141'] 3
['2010' 'M' 'Arts' '1483' '3998' '846']
['2010' 'F' 'Arts' '2069' '5552' '1236']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [144, 156, 162, 166]
['2011' 'M' 'Arts' '348' '843' '151'] 1
['2011' 'M' 'Arts' '169' '523' '163'] 2
['2011' 'M' 'Arts' '220' '502' '135'] 3
['2011' 'M' 'Arts' '1597' '4371' '1022']
['2011' 'F' 'Arts' '2147' '5908' '1493']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [168, 180, 186, 190]
['2012' 'M' 'Arts' '340' '966' '188'] 1
['2012' 'M' 'Arts' '169' '513' '201'] 2
['2012' 'M' 'Arts' '217' '553' '146'] 3
['2012' 'M' 'Arts' '1586' '4669' '1239']
['2012' 'F' 'Arts' '2291' '6275' '1714']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [192, 204, 210, 214]
['2013' 'M' 'Arts' '331' '1012' '258'] 1
['2013' 'M' 'Arts' '188' '522' '175'] 2
['2013' 'M' 'Arts' '214' '588' '143'] 3
['2013' 'M' 'Arts' '1616' '4668' '1359']
['2013' 'F' 'Arts' '2314' '6581' '1912']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [216, 228, 234, 238]
['2014' 'M' 'Arts' '348' '1027' '315'] 1
['2014' 'M' 'Arts' '163' '519' '162'] 2
['2014' 'M' 'Arts' '411' '1225' '361'] 3
['2014' 'M' 'Arts' '1862' '5456' '1563']
['2014' 'F' 'Arts' '2402' '7054' '2014']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [240, 252, 258, 262]
['2015' 'M' 'Arts' '82' '274' '86'] 1
['2015' 'M' 'Arts' '153' '537' '174'] 2
['2015' 'M' 'Arts' '550' '1959' '611'] 3
['2015' 'M' 'Arts' '1503' '5057' '1602']
['2015' 'F' 'Arts' '2292' '7203' '2287']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [264, 276, 282, 286]
['2016' 'M' 'Arts' '86' '262' '92'] 1
['2016' 'M' 'Arts' '161' '484' '203'] 2
['2016' 'M' 'Arts' '592' '1858' '668'] 3
['2016' 'M' 'Arts' '1549' '4776' '1722']
['2016' 'F' 'Arts' '2203' '6882' '2354']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [288, 300, 306, 310]
['2017' 'M' 'Arts' '93' '256' '90'] 1
['2017' 'M' 'Arts' '167' '474' '174'] 2
['2017' 'M' 'Arts' '574' '1751' '645'] 3
['2017' 'M' 'Arts' '1572' '4644' '1591']
['2017' 'F' 'Arts' '2420' '6847' '2327']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [312, 324, 330, 334]
['2018' 'M' 'Arts' '84' '262' '77'] 1
['2018' 'M' 'Arts' '175' '497' '145'] 2
['2018' 'M' 'Arts' '647' '1843' '512'] 3
['2018' 'M' 'Arts' '1689' '4811' '1403']
['2018' 'F' 'Arts' '2315' '6880' '2152']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [336, 348, 354, 358]
['2019' 'M' 'Arts' '66' '242' '83'] 1
['2019' 'M' 'Arts' '153' '490' '154'] 2
['2019' 'M' 'Arts' '521' '1764' '581'] 3
['2019' 'M' 'Arts' '1432' '4695' '1464']
['2019' 'F' 'Arts' '2154' '6814' '2092']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [360, 372, 378, 382]
['2020' 'M' 'Arts' '70' '211' '89'] 1
['2020' 'M' 'Arts' '134' '458' '159'] 2
['2020' 'M' 'Arts' '416' '1706' '526'] 3
['2020' 'M' 'Arts' '1282' '4488' '1444']
['2020' 'F' 'Arts' '2067' '6453' '2261']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']

In [27]:
# Add back header
polyEdit = np.vstack((np.genfromtxt('datasets_cleaned/poly/poly_intake.csv',dtype='U64',delimiter=',')[0],polyEdit))
# Remove all NA
polyEdit = polyEdit[polyEdit[:,0]!='NA']
print(polyEdit)

[['year' 'sex' 'course' 'intake' 'enrolment' 'graduates']
 ['2005' 'M' 'Arts' '647' '1758' '538']
 ['2005' 'F' 'Arts' '1150' '2813' '619']
 ...
 ['2020' 'F' 'Law' '60' '210' '62']
 ['2020' 'M' 'Sciences' '440' '1090' '471']
 ['2020' 'F' 'Sciences' '669' '1947' '730']]

In [28]:
# Write it back to csv in the right format now
np.savetxt('datasets_cleaned/poly/poly_intake.csv',polyEdit,delimiter=",",fmt='%s')

#### *Uni*

Not much explanation to be done since its identical to what was done for the poly datasets

|       Initial Col Name   | New Col Name |
|----------------------|------|
| Engineering Sciences | Engineering |
| Architecture, Building & Real Estate | Architecture|
| Business & Administration | Business |
| Accountancy | Business |
| Information Technology | IT|
| Fine & Applied Arts | Arts|
| Mass Communication | Arts|
| Services | Arts|
| Humanities & Social Sciences | Arts|
| Medicine | Medicine |
| Dentistry | Dentistry |
| Health Sciences | Health Sciences |
| Education | Education |
| Natural & Mathematical Sciences | Sciences |
Natural, Physical & Mathematical Sciences | Sciences |
| Law | Law |

In [29]:
uniEdit = np.genfromtxt('datasets_cleaned/uni/uni_intake.csv',dtype='U64',delimiter=',',skip_header=1)
for a in uniEdit:
    if 'Engineering' in a[2]:
        a[2] = 'Engineering'
    elif 'Architecture' in a[2]:
        a[2] = 'Architecture'
    elif 'Business' in a[2] or a[2] == 'Accountancy':
        a[2] = 'Business'
    elif 'Information Technology' in a[2]:
        a[2] = 'IT'
    elif 'Applied Arts' in a[2] or a[2] == 'Mass Communication' or a[2]=='Services' or 'Humanities' in a[2]:
        a[2] = 'Arts'
    elif 'Sciences' in a[2] and a[2]!= 'Health Sciences':
        a[2] = 'Sciences'

In [30]:
for i,a in enumerate(uniEdit):
    if int(a[0])<=2018:
        if a[1]=='MF':
            a[1]='M'
            a[3] = str(int(a[3])-int(uniEdit[i+1][3]))
            a[4] = str(int(a[4])-int(uniEdit[i+1][4]))
            a[5] = str(int(a[5])-int(uniEdit[i+1][5]))
    else:
        if a[1]=='MF':
            a[1]='M'
            # Since there are 12 different courses
            a[3] = str(int(a[3])-int(uniEdit[i+15][3]))
            a[4] = str(int(a[4])-int(uniEdit[i+15][4]))
            a[5] = str(int(a[5])-int(uniEdit[i+15][5]))

# Reformat data for 2019 and 2020
counter = 0
for i in range(len(uniEdit)):
    if int(uniEdit[i][0])==2019:
        if counter<15:
            # We have to use vstack instead of concat or append since we are adding a 1d array to a 2d array (and since axis=0)
            uniEdit = np.vstack((uniEdit[:i+1+counter],uniEdit[i+15+counter],uniEdit[i+1+counter:]))
        # remove duplicates from 2019
        elif counter==30:
            uniEdit = np.delete(uniEdit,np.s_[i:i+15],0)
        counter+=1

counter = 0
for i in range(len(uniEdit)):
    if int(uniEdit[i][0])==2020:
        if counter<15:
            uniEdit = np.vstack((uniEdit[:i+1+counter],uniEdit[i+15+counter],uniEdit[i+1+counter:]))
        else:
            print(uniEdit[i],counter)
        counter+=1

# since the last 12 rows are duplicates, we remove them
uniEdit = np.delete(uniEdit,np.s_[-15:],0)

['2020' 'F' 'Health Sciences' '761' '2455' '522'] 15
['2020' 'M' 'Arts' '929' '4109' '1022'] 16
['2020' 'F' 'Arts' '2001' '8783' '2125'] 17
['2020' 'M' 'IT' '2017' '6014' '970'] 18
['2020' 'F' 'IT' '846' '2797' '397'] 19
['2020' 'M' 'Law' '204' '916' '190'] 20
['2020' 'F' 'Law' '259' '907' '204'] 21
['2020' 'M' 'Arts' '28' '148' '39'] 22
['2020' 'F' 'Arts' '142' '566' '142'] 23
['2020' 'M' 'Medicine' '253' '1158' '208'] 24
['2020' 'F' 'Medicine' '224' '1020' '178'] 25
['2020' 'M' 'Sciences' '788' '3089' '801'] 26
['2020' 'F' 'Sciences' '891' '3624' '1127'] 27
['2020' 'M' 'Arts' '143' '402' '107'] 28
['2020' 'F' 'Arts' '139' '412' '112'] 29

In [31]:
# Number of rows (+1 for header) we should get
print((len(unique_courses))*2*(2021-2005))

352

In [32]:
# Add the data to the dictionary
for year in range(2005,2021):
    
    # Create a dictionary to store the data
    course_dict = {}
    for course in unique_courses:
        course_dict[course] = []

    for i,a in enumerate(uniEdit):
        if a[2] in course_dict and float(a[0])==year:
            if a[1]=='M':
                course_dict[a[2]].append(i)


    for k,v in course_dict.items():
        if len(v)>1:
            print(k,v)
            for j,n in enumerate(v):
                # Combine the data into one numpy array
                if j>0:
                    print(uniEdit[n],j)

                    # For males
                    uniEdit[v[0]][3] = str(int(uniEdit[v[0]][3])+int(uniEdit[n][3]))
                    uniEdit[v[0]][4] = str(int(uniEdit[v[0]][4])+int(uniEdit[n][4]))
                    uniEdit[v[0]][5] = str(int(uniEdit[v[0]][5])+int(uniEdit[n][5]))

                    # Repeat for Females
                    uniEdit[v[0]+1][3] = str(int(uniEdit[v[0]+1][3])+int(uniEdit[n+1][3]))
                    uniEdit[v[0]+1][4] = str(int(uniEdit[v[0]+1][4])+int(uniEdit[n+1][4]))
                    uniEdit[v[0]+1][5] = str(int(uniEdit[v[0]+1][5])+int(uniEdit[n+1][5]))


                    # Remove the duplicates later
                    uniEdit[n] = np.array(['NA','NA','NA','NA','NA','NA'])
                    uniEdit[n+1] = np.array(['NA','NA','NA','NA','NA','NA'])
            
            # No need to get average since these are enrollment, intake and grad numbers (not percentages like before)

            
            for n in v:
                print(uniEdit[n])
                print(uniEdit[n+1])
    year+=1

Arts [12, 16, 22, 28]
['2005' 'M' 'Arts' '589' '1944' '401'] 1
['2005' 'M' 'Arts' '42' '137' '36'] 2
['2005' 'M' 'Arts' '18' '28' '0'] 3
['2005' 'M' 'Arts' '709' '2252' '448']
['2005' 'F' 'Arts' '1915' '5598' '1370']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Business [0, 4]
['2005' 'M' 'Business' '644' '1915' '358'] 1
['2005' 'M' 'Business' '990' '2744' '569']
['2005' 'F' 'Business' '1431' '4830' '1393']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [42, 46, 52, 58]
['2006' 'M' 'Arts' '760' '2250' '460'] 1
['2006' 'M' 'Arts' '27' '130' '33'] 2
['2006' 'M' 'Arts' '32' '60' '0'] 3
['2006' 'M' 'Arts' '915' '2663' '504']
['2006' 'F' 'Arts' '2139' '6288' '1419']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Business [30, 34]
['2006' 'M' 'Business' '737' '2193' '432'] 1
['2006' 'M' 'Business' '1114' '3218' '608']
['2006' 'F' 'Business' '1592' '5116' '1286']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [72, 76, 82, 88]
['2007' 'M' 'Arts' '756' '2491' '484'] 1
['2007' 'M' 'Arts' '46' '147' '28'] 2
['2007' 'M' 'Arts' '23' '83' '0'] 3
['2007' 'M' 'Arts' '920' '3003' '540']
['2007' 'F' 'Arts' '2387' '7314' '1305']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Business [60, 64]
['2007' 'M' 'Business' '664' '2312' '491'] 1
['2007' 'M' 'Business' '1039' '3472' '751']
['2007' 'F' 'Business' '1694' '5277' '1467']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [102, 106, 112, 118]
['2008' 'M' 'Arts' '852' '2826' '505'] 1
['2008' 'M' 'Arts' '36' '145' '32'] 2
['2008' 'M' 'Arts' '29' '96' '14'] 3
['2008' 'M' 'Arts' '1024' '3409' '582']
['2008' 'F' 'Arts' '2269' '7986' '1537']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Business [90, 94]
['2008' 'M' 'Business' '593' '2425' '503'] 1
['2008' 'M' 'Business' '1010' '3654' '798']
['2008' 'F' 'Business' '1581' '5333' '1495']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [132, 136, 142, 148]
['2009' 'M' 'Arts' '944' '3162' '573'] 1
['2009' 'M' 'Arts' '66' '176' '36'] 2
['2009' 'M' 'Arts' '21' '103' '13'] 3
['2009' 'M' 'Arts' '1152' '3850' '669']
['2009' 'F' 'Arts' '2428' '8496' '1858']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Business [120, 124]
['2009' 'M' 'Business' '695' '2439' '627'] 1
['2009' 'M' 'Business' '1174' '3851' '969']
['2009' 'F' 'Business' '1487' '5329' '1450']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [162, 166, 172, 178]
['2010' 'M' 'Arts' '884' '3319' '736'] 1
['2010' 'M' 'Arts' '42' '185' '30'] 2
['2010' 'M' 'Arts' '86' '161' '29'] 3
['2010' 'M' 'Arts' '1171' '4138' '879']
['2010' 'F' 'Arts' '2351' '8884' '1948']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Business [150, 154]
['2010' 'M' 'Business' '706' '2476' '658'] 1
['2010' 'M' 'Business' '1186' '3962' '1038']
['2010' 'F' 'Business' '1590' '5446' '1409']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [192, 196, 202, 208]
['2011' 'M' 'Arts' '793' '3242' '708'] 1
['2011' 'M' 'Arts' '39' '183' '41'] 2
['2011' 'M' 'Arts' '118' '252' '24'] 3
['2011' 'M' 'Arts' '1117' '4216' '857']
['2011' 'F' 'Arts' '2244' '8152' '2087']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Business [180, 184]
['2011' 'M' 'Business' '727' '2543' '633'] 1
['2011' 'M' 'Business' '1209' '4170' '965']
['2011' 'F' 'Business' '1528' '5481' '1451']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [222, 226, 232, 238]
['2012' 'M' 'Arts' '838' '3327' '737'] 1
['2012' 'M' 'Arts' '37' '184' '37'] 2
['2012' 'M' 'Arts' '127' '345' '54'] 3
['2012' 'M' 'Arts' '1168' '4442' '936']
['2012' 'F' 'Arts' '2392' '8717' '1911']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Business [210, 214]
['2012' 'M' 'Business' '743' '2705' '572'] 1
['2012' 'M' 'Business' '1274' '4390' '1019']
['2012' 'F' 'Business' '1671' '5684' '1414']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [252, 256, 262, 268]
['2013' 'M' 'Arts' '1054' '3550' '818'] 1
['2013' 'M' 'Arts' '51' '173' '62'] 2
['2013' 'M' 'Arts' '139' '371' '136'] 3
['2013' 'M' 'Arts' '1444' '4722' '1154']
['2013' 'F' 'Arts' '2716' '9039' '2363']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Business [240, 244]
['2013' 'M' 'Business' '803' '2782' '693'] 1
['2013' 'M' 'Business' '1309' '4550' '1092']
['2013' 'F' 'Business' '1656' '5680' '1585']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [282, 286, 292, 298]
['2014' 'M' 'Arts' '1022' '3756' '803'] 1
['2014' 'M' 'Arts' '46' '174' '44'] 2
['2014' 'M' 'Arts' '54' '286' '135'] 3
['2014' 'M' 'Arts' '1309' '4857' '1147']
['2014' 'F' 'Arts' '2619' '9420' '2181']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Business [270, 274]
['2014' 'M' 'Business' '837' '2980' '631'] 1
['2014' 'M' 'Business' '1492' '4892' '1104']
['2014' 'F' 'Business' '1925' '6053' '1495']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [312, 316, 322, 328]
['2015' 'M' 'Arts' '1033' '3861' '743'] 1
['2015' 'M' 'Arts' '40' '174' '42'] 2
['2015' 'M' 'Arts' '105' '352' '154'] 3
['2015' 'M' 'Arts' '1400' '5052' '1126']
['2015' 'F' 'Arts' '2677' '9963' '2001']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Business [300, 304]
['2015' 'M' 'Business' '848' '3111' '771'] 1
['2015' 'M' 'Business' '1488' '5150' '1251']
['2015' 'F' 'Business' '2102' '6711' '1404']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [342, 346, 352, 358]
['2016' 'M' 'Arts' '1014' '4046' '803'] 1
['2016' 'M' 'Arts' '42' '178' '35'] 2
['2016' 'M' 'Arts' '91' '355' '84'] 3
['2016' 'M' 'Arts' '1308' '5249' '1095']
['2016' 'F' 'Arts' '2760' '10385' '2267']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Business [330, 334]
['2016' 'M' 'Business' '959' '3284' '751'] 1
['2016' 'M' 'Business' '1568' '5465' '1190']
['2016' 'F' 'Business' '2149' '7139' '1633']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [372, 376, 382, 388]
['2017' 'M' 'Arts' '1105' '4185' '945'] 1
['2017' 'M' 'Arts' '54' '182' '48'] 2
['2017' 'M' 'Arts' '81' '335' '99'] 3
['2017' 'M' 'Arts' '1428' '5374' '1259']
['2017' 'F' 'Arts' '2600' '10408' '2465']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Business [360, 364]
['2017' 'M' 'Business' '988' '3500' '755'] 1
['2017' 'M' 'Business' '1662' '5763' '1308']
['2017' 'F' 'Business' '2239' '7628' '1661']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [402, 406, 412, 418]
['2018' 'M' 'Arts' '1041' '4220' '945'] 1
['2018' 'M' 'Arts' '42' '178' '46'] 2
['2018' 'M' 'Arts' '118' '353' '98'] 3
['2018' 'M' 'Arts' '1364' '5413' '1269']
['2018' 'F' 'Arts' '2824' '10683' '2491']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Business [390, 394]
['2018' 'M' 'Business' '1084' '3741' '837'] 1
['2018' 'M' 'Business' '1774' '6062' '1416']
['2018' 'F' 'Business' '2432' '8175' '1767']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [432, 436, 442, 448]
['2019' 'M' 'Arts' '1012' '4227' '978'] 1
['2019' 'M' 'Arts' '24' '161' '41'] 2
['2019' 'M' 'Arts' '116' '363' '95'] 3
['2019' 'M' 'Arts' '1326' '5388' '1295']
['2019' 'F' 'Arts' '2794' '10862' '2551']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Business [420, 424]
['2019' 'M' 'Business' '1251' '4134' '847'] 1
['2019' 'M' 'Business' '1904' '6461' '1435']
['2019' 'F' 'Business' '2639' '8695' '2008']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Arts [462, 466, 472, 478]
['2020' 'M' 'Arts' '929' '4109' '1022'] 1
['2020' 'M' 'Arts' '28' '148' '39'] 2
['2020' 'M' 'Arts' '143' '402' '107'] 3
['2020' 'M' 'Arts' '1233' '5265' '1325']
['2020' 'F' 'Arts' '2533' '10672' '2651']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
Business [450, 454]
['2020' 'M' 'Business' '1339' '4591' '896'] 1
['2020' 'M' 'Business' '1895' '6814' '1495']
['2020' 'F' 'Business' '2851' '9443' '2021']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']
['NA' 'NA' 'NA' 'NA' 'NA' 'NA']

In [33]:
# Add back header
uniEdit = np.vstack((np.genfromtxt('datasets_cleaned/uni/uni_intake.csv',dtype='U64',delimiter=',')[0],uniEdit))
# Remove all NA
uniEdit = uniEdit[uniEdit[:,0]!='NA']
print(uniEdit)

[['year' 'sex' 'course' 'intake' 'enrolment' 'graduates']
 ['2005' 'M' 'Business' '990' '2744' '569']
 ['2005' 'F' 'Business' '1431' '4830' '1393']
 ...
 ['2020' 'F' 'Medicine' '224' '1020' '178']
 ['2020' 'M' 'Sciences' '788' '3089' '801']
 ['2020' 'F' 'Sciences' '891' '3624' '1127']]

In [34]:
# Write it back to csv in the right format now
np.savetxt('datasets_cleaned/uni/uni_intake.csv',uniEdit,delimiter=",",fmt='%s')